@mixin mix-section-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem 0;
    h2{
      padding: 2rem 1rem;
      text-align: left;
    }
    p{
      text-align: left;
      padding: 0 1rem;
    }
    img {
      height: 200px;
      width: 300px;
      padding: 1rem;
      border-radius: 25px;
    }
}

@mixin mix-section-txt{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f4f7fc;
    padding: 5rem 0;
    h2{
      padding: 2rem 1rem;
      font-size: 2rem;
    }
    p{
      padding: 0 1rem;
    }
}

@mixin mix-img-deco{
  figure{
    img.decoration{
      width: 536px;
      height: 354px;
    }
  }
}