.footer{
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 100vw;
  padding: 7rem 0;
  section{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  h2{
    padding: 1rem 0;
  }
  p{
    font-size: 0.8rem;
  }
}