.section-seven{
  @include mix-section-txt;
  background-color: white;
  text-align: left;
  pre{
    background-color: #f4f7fc;
    overflow: auto;
    text-align: left;
    white-space: pre-line;
    font-size: 0.7rem;
    margin: 1rem 0;
  }
}