// CONFIG MODULES
@import "modules/app.scss";
@import "modules/breakpoints.scss";
@import "modules/mixins.scss";
@import "modules/typography.scss";
@import "modules/variables.scss";

// COMPONENTS
@import "components/main.scss";
@import "components/hero.scss";
